<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome {{ email }}</h1>
<h1>{{ log }}</h1>
<p><a href="/addcontact"><input type="button" value="add and delete contact."></a></p>
<br>
<p><a href="/showuser"><input type="button" value="show user"></a></p>
<br>
<br>
<p><a href="/getcontact"><input type="button" value="Update Contact"></a></p>
<br>
<br>
<p><a href="/logout"><input type="button" value="log out"></a></p>
</body>
</html>