<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Contact</title>
</head>
<body>
    <p>Welcome {{ email }}</p>
    <table border="2" >
        <tr>
            <th>Cust name</th>
            <th>Cust phone</th>
            <th>Cust City</th>
            <th>Cust profession</th>
        </tr>

        {% for i in list1 %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.mobile }}</td>
                <td>{{ i.city }}</td>
                <td>{{ i.profession }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action = "/updatecontact", method="post">
        <label>Enter contact name to update: </label>
        <input type="text" name="name" required>
        <button type="submit" value="submit" name="submit">Submit</button>
    </form>
    <h1>{{ msg }}</h1>
    {% if error %}
        {{ errormsg }}
    {% endif %}
</body>
</html>